/* #cdd7e2; grey/blue, #07173d; navy blue, #f9763d; orange, #2c7bd2 light blue*/

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #cdd7e2;
}

.player-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player-card {
  padding: 1em;
  width: 18em;
  height: 15em;
  background-color: rgb(36, 47, 85);
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: orange;
  padding: 1em;
  min-height: 2em;
  font-family: 'Georgia';
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
}
