/* #CDD7E2; grey/blue, #07173D; navy blue, #F9763D; orange, #2C7BD2 light blue*/
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #cdd7e2;
  cursor: url(https://i.imgur.com/iO6QpYr.png?1), auto;
}
.player-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.player-card {
  padding: 1em;
  width: 18em;
  height: 15em;
  background-color: #f9763d;
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  color: #cdd7e2;
  background-color: #07173d;
  padding: 1em;
  min-height: 2em;
  font-family: 'Georgia';
  display: flex;
  justify-content: flex-end;
}
.navbar a {
  text-decoration: none;
  color: #cdd7e2;
  font-weight: bold;
  margin-left: 0.5em;
}

button {
  cursor: pointer;
<<<<<<< HEAD
}
=======
}
>>>>>>> 24bcb84 (pull)
