/* #CDD7E2; grey/blue, #07173D; navy blue, #F9763D; orange, #2C7BD2 light blue*/

.home {
  /* background-image: url(https://imgs.search.brave.com/xVOg-BgCXEFLB-9dR_ZqHpDWgBEhPx-nFPtnd2XeGSA/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2E1LzMw/LzEyL2E1MzAxMjNk/YzRiYzQ2MDcyZTBj/ZTg4MGMxM2NiMjU2/LmpwZw); */
  background-image: url(../src/images/CC-backgroundgrey.webp);
}
.homeH1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48pt;
  color: white;
}
.homeH2 {
  margin-top: 0;
  margin-bottom: 50px;
  color: white;
}

.home-title {
  background-color: #f9763d;
}
.homeButton {
  display: flex;
  padding: 40px;
  background-color: #f9763d;
  font-size: 20pt;
  font-family: Georgia;
}

.homeButton:hover {
  background-color: #2c7bd2;
}

.home-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.bats {
  height: 400px;
  width: 400px;
}
