.signin-col {
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  width: 325px;
  background-color: #dee1e5e5;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 12px;
  border-radius: 20px;
}
.signin-col-ch {
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  width: 300px;
  background-color: #dee1e5e5;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 12px;
  /* border: 3px solid black; */
  border-radius: 20px;
}
/* .register-background {
  background-image: url(https://library.sportingnews.com/styles/crop_style_16_9_mobile_2x/s3/2022-06/Guillermo-Martinez-062222-getty-ftr.jpg?h=920929c4&itok=CmMwqByz);
  background-size: cover;
  margin-top: -40px;
  height: 1000px;
} */
.bl-ch-div {
  margin-top: -55px;
}
.coach-q {
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 300px;
  background-color: #dee1e5e5;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 12px;
  border-radius: 20px;
}
.input-wrapper {
  margin-bottom: 2px;
}
.input-wrapper-last {
  margin-bottom: 15px;
}

.reg-input {
  border-radius: 0.25rem;
  border: #2196f3;
  height: 25px;
  margin: 0.6%;
  width: 60%;
}

.reg-submit-btn {
  margin-bottom: 4%;
}

.last-input {
  margin-bottom: -5%;
}
