/* #CDD7E2; grey/blue, #07173D; navy blue, #F9763D; orange, #2C7BD2 light blue*/

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.workout-card {
  background-color: #dee1e530;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
  background-color: #dee1e5;
  border-radius: 0.4rem;
  margin: 2%;
}
.workout-card:hover {
  transform: scale(1.01);
}

.delete-btn {
  display: flex;
  align-content: flex-start;
  border: none;
  size: 15px;
}

.delete-btn:hover {
  background-color: #f9763d;
}

.workout-description,
.workout-comp-date {
  text-align: left;
  margin-left: 3%;
  margin-right: 3%;
}

.workout-comp-date {
  margin-top: 1%;
  font-size: 15px;
}
.comp-date {
  font-style: italic;
}

.workout-title {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
}

.card-top {
  background-color: #eec39c;
}

.title {
  background-color: #f9763d;
  margin-top: 0%;
}

.completion-btn {
  max-height: 35px;
  max-width: 35px;
  display: flex;
}
.completion-btn:hover,
.completion-btn-player:hover {
  background-color: aquamarine;
}
.container {
  display: flex;
  justify-content: flex-end;
}

.container-player {
  display: flex;
  justify-content: center;
}
.container:hover,
.container-player:hover {
  cursor: url(https://i.imgur.com/naOfk05.png?1), auto;
}

.completion-btn-player {
  max-height: 35px;
  max-width: 35px;
}

.completed {
  background-color: rgb(139, 203, 139);
}

.title-input {
  padding-bottom: 1.5%;
  width: 33%;
  display: flex;
  justify-content: center;
  margin-top: 0;
  background-color: #eddecf;
  border: none;
}
.descr-input {
  width: 100%;
  height: 100px;
  background-color: #dee1e5;
  border: none;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.comp-input {
  border-radius: 1.2%;
  border: none;
  margin: 3px;
  background-color: #f6f4f4;
}
.skill-input {
  border: none;
  margin: 2.5px;
  background-color: #f6f4f4;
}
.incr-input {
  border: none;
  margin-left: 3px;
  background-color: #f6f4f4;
}

.title-wrapper,
.incr-wrapper,
.skill-wrapper {
  display: flex;
  justify-content: center;
}
.descr-wrapper {
  display: flex;
  justify-content: flex start;
}
.comp-wrapper {
  display: flex;
  justify-content: flex start;
}

.title-wrapper {
  background-color: #eec39c;
}
.workout-input {
  font-size: medium;
}

.workout-btn-select {
  height: 5%;
  font-size: small;
}
